/Tehtävä 5/HelloCucumber/.nb-gradle/
/Tehtävä 5/HelloCucumber/build/
/Tehtävä 5-8/LoginCucumber/.nb-gradle/
/Tehtävä 5-8/LoginCucumber/build/
/Tehtävät 9-13/WebLogin/.nb-gradle/
build.gradle
.gradle/
build/
/Viikko 4/MockitoDemo/.nb-gradle/
/Viikko 4/MatkakorttiMockito/.nb-gradle/
/Viikko 4/VerkkokauppaSpring/.nb-gradle/